[Unit]
Description=socat forwarding of avahi socket

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/usr/bin/socat UNIX-LISTEN:/home/home/Documents/work/k3s/mdns/avahi.sock,fork,user=1000,group=1000,mode=444 UNIX-CONNECT:/var/run/avahi-daemon/socket
[Install]
WantedBy=default.target
