apiVersion: qbec.io/v1alpha1
kind: App
metadata:
  name: lab
spec:
  clusterScopedLists: true
  environments:
    lab:
      server: https://k3s.home:6443
  vars:
    topLevel:
      - name: bootstrap
        components: ['vault']

    external:
      - name: workDir
        default: '/Users/ericz/Documents/work/homelab'

    computed:
      - name: expandHelm
        code: |
          {
            command: './scripts/expand-helm.sh',
            inheritEnv: true,
          }
      - name: getCA
        code: |
          {
            command: './scripts/get-ca.sh',
            args: [ std.extVar('workDir') ]
          }


  dataSources:
    - exec://expand-helm?configVar=expandHelm
    - exec://get-ca?configVar=getCA
