image:
  repository: docker.io/splunk/splunk:latest

kubeRbacProxy:
  image:
    tag: 'v0.16.0'

splunkOperator:
  clusterWideAccess: false

  image:
    repository: docker.io/splunk/splunk-operator:2.8.0-distroless

  podAnnotations:
    match-regex.version-checker.io/manager: '^v\d+\.\d+\.\d+-distroless'

  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000

  volumes:
    - name: app-staging
      persistentVolumeClaim:
        claimName: splunk-operator-app-download
      resources:
        requests:
          storage: 5Gi

  persistentVolumeClaim:
    storageClassName: 'local-storage'

