global:
  enabled: false
  tlsDisable: false

server:
  enabled: true
  image:
    tag: '1.20.1'
  updateStrategyType: RollingUpdate
  resources:
    requests:
      memory: '2Gi'
      cpu: 1
    limits:
      memory: '2Gi'
      cpu: 1
  dataStorage:
    enabled: true
    size: 5Gi
    storageClass: 'local-storage'

  extraEnvironmentVars:
    VAULT_CACERT: /vault/userconfig/vault-tls/ca.crt

  volumes:
    - name: userconfig-vault-tls
      secret:
        defaultMode: 420
        secretName: vault-tls

  volumeMounts:
    - mountPath: /vault/userconfig/vault-tls
      name: userconfig-vault-tls
      readOnly: true

  standalone:
    enabled: true
    config: |
      ui = true

      listener "tcp" {
        address = "[::]:8200"
        cluster_address = "[::]:8201"
        tls_cert_file = "/vault/userconfig/vault-tls/tls.crt"
        tls_key_file  = "/vault/userconfig/vault-tls/tls.key"
        tls_client_ca_file = "/vault/userconfig/vault-tls/ca.crt"

        x_forwarded_for_authorized_addrs = "10.42.0.0/24,192.168.0.0/24,100.64.0.0/10"
        x_forwarded_for_reject_not_present = "false"
      }

      storage "file" {
        path = "/vault/data"
      }

injector:
  enabled: true
  image:
    tag: '1.7.0'
  agentImage:
    tag: '1.20.1'
  leaderElector:
    enabled: false
  certs:
    secretName: injector-tls
  webhook:
    affinity: ""
    annotations:
      cert-manager.io/inject-ca-from: vault/injector-tls

agent:
  image:
    tag: '1.20.1'
